<!DOCTYPE html>
<html lang="en">
<!-- 头部开始 -->

{include file="common/header"}
<!-- 头部结束 -->
<body class="no-skin">
	<!-- 导航开始 -->
	{include file="common/navbar"}
	<!-- 导航结束 -->
	<div class="main-container" id="main-container">
		<!-- 侧边栏开始 -->
		{include file="common/sidebar"}
		<!-- 侧边栏结束 -->


		<div class="main-content">
			<div class="main-content-inner">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="{:url('index/index')}">首页</a>
						</li>
						<li class="active">领域管理</li>
					</ul>
				</div>
				<div class="page-content">
					<div class="alert alert-block alert-success">
						<button type="button" class="close" data-dismiss="alert">
							<i class="ace-icon fa fa-times"></i>
						</button>
						欢迎使用微光后台管理系统。
					</div>

					<!-- 模板设置 -->
					{include file="common/setting"}
					<!-- 模板设置借书 -->
					


					<div class="row">
						<div class="col-xs-12">
							<form class="form-horizontal" action="{:url('field/edit')}" method="post">
								<input type="hidden" name='id' value="{$data['id']}" />
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 领域名称 </label>
									<div class="col-sm-9">
										<input type="text" name="field" class="rcol-xs-10 col-sm-5" value="{$data['field']}">
										<span class="help-inline col-xs-12 col-sm-7"></span>
									</div>
								</div>
								<div class="space-4"></div>
								
								<div class="col-md-offset-2 col-md-9">
									<button class="btn btn-info" type="submit"><i class="icon-ok bigger-110"></i>提交</button>&nbsp; &nbsp; &nbsp;
									<button class="btn" type="reset"><i class="icon-undo bigger-110"></i>重置</button>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>


		<!-- 底部开始 -->
		{include file="common/footer"}
		<!-- 底部结束 -->
	</div>

	<!-- 相关js -->
	{include file="common/js"}
	
</body>
</html>
